{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <h3>Do you want to delete the post: "{{ post.title }}"?</h3>
        <br/><br/>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                <button class="btn btn-danger" type="submit">Delete</button>
            </form> 
        </div>
    {% else %}
        <p>You are not authorized to delete this post.</p>
    {% endif %}
{% else %}
    <p>Please, log in to delete posts.</p>
{% endif %}

{% endblock %}


