{% extends "base.html" %}

{% block content %}

<h1>{{ post.title }}</h1>
<h6>By: {{ post.author.first_name }} {{ post.author.last_name }}</h6>
<a href="{% url 'profile' post.author.id %}">Profile</a>
<small>{{ post.created_at|date:"F j, Y, g:i a" }}</small>
<hr>
<br/>
<div>
    {{ post.content|linebreaks }}
</div>

<br/><br/>
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <a href="{% url 'edit-post' post.pk %}" class="btn btn-outline-primary">Edit</a>
        <a href="{% url 'delete-post' post.pk %}" class="btn btn-outline-danger">Delete</a>
        <br/><br/>
    {% endif %}
{% endif %}

<br/><br/>

<hr>
<h3> Comments </h3>
{% if not post.comments.all %}
      No comment yet.. <a href="{% url 'add_comment' post.pk %}"> Add Comment </a>
{% else %}
      <a href="{% url 'add_comment' post.pk %}"> Add Comment </a>
      <br/>
      {% for comment in post.comments.all %}
              <br/>
              <strong>{{ comment.author }} - {{comment.created_at}}    </strong>
              <br/>
              {{comment.content}}
      {%endfor%}
      
{% endif %}

<br/><br/> 

<a href="{% url 'home' %}" class="btn btn-secondary">← Back</a>

{% endblock %}
